nav{

  background:#3A0066;

  padding:18px;

  display:flex;

  justify-content:center;

  gap:30px;

}

a{

  color:#00FF33;

  text-decoration:none;

  font-size:18px;

  font-weight:bold;

  transition:0.3s;

}

a:hover{

  color:#ffffff;

}